/* Segundo componente */

/* Estilos para el bloque del componente */
.tarjeta-producto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-fondo-segundo-componente);
    width: 15vw;
    height: 40vh;
    border-radius: 15px;
    margin: 20px auto;
}
/* ELEMENTOS DEL BLOQUE */

/* Estilos para el titulo de la card */
.tarjeta-producto__titulo {
    color: var(--color-titulo-segundo-componente);
}
/* Estilos para la imagen de la card */
.tarjeta-producto__imagen {
    height: 50%;
    width: auto;
}
/* Estilos para la descripción de la card */
.tarjeta-producto__descripcion {
    font-size: 1.5vh;
    color: var(--color-fuente-segundo-componente);
    text-align: center;
    width: 92%;
}
/* Estilos para el boton de la card */
.tarjeta-producto__boton {
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 15px;
    border: 1px #fff solid;
}