/* Componente 9 */

/* Estilos para el contenedor de las cards */
.seccion-precios {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* Estilos para las cards */
.seccion-precios__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    min-width: 280px;
    min-height: 350px;
    background-color: #000;
    border-radius: 20px;
    display: flex;
}
/* ESTILOS PARA LOS ELEMENTOS DE LAS CARDS */

/* Estilos para los titulos de las cards */
.seccion-precios__card-titulo {
    background-image: linear-gradient(to right, #2c2c2c, #080808);
    padding: 0px 30px 0px 30px;
    border-radius: 20px;
    color: #ffbb00;
    font-size: 25px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}
/* Estilos para los textos de las cards */
.seccion-precios__card-textos {
    color: #a1a1a1;
    font-size: 15px;
}
/* Estilos para los precios dentro de las cards */
.seccion-precios__card-precio {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
/* Estilos en modificadores para realizar algunos cambios en las cards, especificamente en los titulos */
.seccion-precios__card-titulo--extra {
    background-color: #ffbb00;
    padding: 0px 30px 0px 30px;
    border-radius: 20px;
    color: #000;
    font-size: 25px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}
/* Estilos para el ultimo modificador del titulo de la card */
.seccion-precios__card-titulo--essential {
    background-color: #ffffff;
    padding: 0px 30px 0px 30px;
    border-radius: 20px;
    color: #000;
    font-size: 25px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}