/* Componente 5 */

/* Estilos para el bloque del componente */
.encabezado {
    max-width: 1000px;
    min-height: 80px;
    margin: 0 auto;
    background-color: rgb(49, 78, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* ESTILOS DE LOS ELEMENTOS */

/* Estilos para el elemento de icono dentro del encabezado */
.encabezado__icon {
    color: white;
    font-size: 25px;
}
/* Estilos para titulo del encabezado */
.encabezado__titulo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}