/* Componente 6 */

/* Estilos para el bloque del componente de la lista de tareas */
.tareas {
    background-color: #e6e6e6;
    border-radius: 20px;
    box-shadow: 2px 2px 5px;
    margin: 0 auto;
    max-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* ESTILOS PARA EL BLOQUE DEL COMPONENTE */

/* Estilos para el titulo del bloque */
.tareas__titulo {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
/* Estilos para la etiqueta de lista */
.tareas__lista {
    list-style: none;
    display: flex;
    flex-direction: column;
}
/* Estilos para los itemes de la listas (las tareas) */
.tareas__item {
    flex: 1;
    background-color: #fdc3c3;
    color: #9c0000;
    padding: 12px;
    border-radius: 20px;
    margin: 10px;
    border: #9c0000 1.5px solid;
}
/* Modificador para representar las tareas terminadas*/
.tareas__item--completada {
    flex: 1;
    background-color: #e9fff1;
    color: #006b12;
    padding: 12px;
    border-radius: 20px;
    margin: 10px;
    border: #006b12 1.5px solid;
}
/* Aplicamos estilos por medio de una pseudo clase para los items */
.tareas__item:hover,
.tareas__item--completada:hover {
    transform: scale(0.97);
    transition: 0.3s;
}