/* Componente 7 */

/* Estilos para el bloque del componente testimonial */
.testimonio {
    margin: 0 auto;
    display: flex;
    background-color: rgb(0, 49, 92);
    border-radius: 20px;
    box-shadow: 2px 2px 5px;
    max-width: 1000px;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
}
/* ESTILOS PARA LOS ITEMS DEL COMPONENTE */

/*  Estilos para el icono del componente */
.testimonio__icon {
    font-size: 50px;
    color: white;
    margin-left: 30px;
}
/* Estilos para el texto del componente testimonial */
.testimonio__nombre {
    color: white;
    font-size: 45px;
    margin-right: 30px;
}