@import url(styles-nav.css);
@import url(styles-card.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo-primer-componente: #003e89;
    --color-fuente-primer-componente: #fff;
    --color-fondo-segundo-componente: #242424;
    --color-titulo-segundo-componente: #fff;
    --color-fuente-segundo-componente: #fff;
}

.titulos {
    text-align: center;
    margin-top: 20px;
}